/* General */
$primary: #030712;
$body-font-family: 'Inter', serif;
$font-size-base: .9rem;
$line-height-base: 1.4;
$border-radius: 0;

/* Accordion */
$accordion-icon-width: .75rem;
$accordion-button-active-bg: #fff;
$accordion-button-focus-box-shadow: transparent;
$accordion-button-focus-border-color: transparent;
